* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    align-items: center;
    text-align: center;
    background-color: #2fadd6;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

footer {
    background-color: #151e3d;
    color: white;
    text-align: center;
    padding: 1em;
}