* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    align-items: center;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    background-color: #420C09;
    color: white;
}

nav {
    display: flex;
    background-color: #420C09;
    padding: 5px;
}

nav a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

nav ul {
    list-style: none;
}

nav ul li a:hover {
    background-color: lightblue;
    color: #333;
}

.burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger a {
    color: white;
    padding: 8px;
}

.burger a:hover {
    background-color: #ddd;
    color: #333;
}

@media (max-width: 800px) {
    .burger {
        display: none;
        width: 100%;
    }

    .burger.open {
        display: block;
    }

    .hamburger::before {
        content: "☰";
        font-size: 30px;
    }

    .hamburger.open::before {
        content: "✖";
    }

    .hamburger {
        display: block;
        background: none;
        color: white;
        cursor: pointer;
    }

    .hamburger.open {
        display: block;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .hero .large {
        display: none;
    }

    .hero .medium {
        display: none;
    }

    .hero .small {
        display: block;
    }

    footer .info-footer {
        border-bottom: solid white 2px;
        padding: 10px
    }
    
    footer .content-footer {
        padding: 10px;
    }
}

.banner {
    padding: 1rem;
    background-color: #eee;
    text-align: center;
    font-weight: bold;
}

.close {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.hero img {
    padding: 10px;
}

.hero .medium {
    width: 900px;
}

.hero .small {
    width: 450px;
    align-items: center;
}

.hero-join-button {
    position: absolute;
    padding: 10px 20px;
    background-color: #36454F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
}

.cards {
    margin: 5px;
}

.cards section {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #eee;
    margin: 1rem;
    overflow: hidden;
}

.cards section h2 {
    font-size: 30px;
}

.cards .events-card h3, .cards .company-card h3 {
    padding: 5px;
    font-weight: 500;
    font-size: 20px;
}

.cards section h2, .cards section p {
    padding: 5px;
}

.events-card {
    padding: 20px;
}

.events-card p {
    font-size: 18px;
}

.events-card .join-button, .events-card .discover-button {
    background-color: #36454F;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.weather-card {
    background-color: #f4f4f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-card h2 {
    font-size: 24px;
}

.weather-card p {
    font-size: 16px;
    margin: 5px 0;
}

.weather-card figure {
    display: flex;
    justify-content: center;
}

#weather-icon {
    width: 50px;
    height: 50px;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.forecast-section {
    padding: 1px;
    border-radius: 5px;
    text-align: center;
}

.forecast-section img {
    width: 30px;
    height: 30px;
}

.spotlight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
}

.spotlight-card {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

.spotlight-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    background-color: #f4f4f4;
}

.spotlight-card img {
    width: 200px;
    height: auto;
}
.spotlight-card h3 {
    font-size: 1.2rem;
    color: #333;
}

.spotlight-card p {
    font-size: 1rem;
    color: #555;
}

footer {
    padding: 10px;
    background-color: #36454F;
    color: white;
    text-align: center;
}

footer p {
    padding: 3px;
}

/* discover.html */

.main-discovery {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.sidebar {
    padding: 15px;
}

.sidebar-section {
    list-style: none;
}

.sidebar-section h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.sidebar-section p {
    margin-bottom: 8px;
}

.sidebar h2, .sidebar-intro, .sidebar-population, .sidebar-events, .sidebar-demo {
    background-color: #f4f4f4;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
}

.gallery-images img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-images img:hover {
    transform: scale(1.1);
}

/* join.html & thankyou.html */

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

form label {
    font-size: 20px;
    color: #333;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}

form button[type="submit"] {
    background-color: #36454F;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    padding: 2rem;
    border-radius: 7px;
    font-size: 20px;
}

form button[type="submit"]:hover {
    background-color: #5C6D78;
}

.membership-benefits {
    text-align: center;
    padding: 20px;
}

.membership-benefits h3 {
    font-size: 30px;
}

.membership-benefits ul {
    list-style: none;
}

.membership-benefits li {
    font-size: 18px;
    padding: 5px;
}

.thank-you {
    text-align: center;
    padding: 20px;
}

.thank-you h2 {
    font-size: 30px;
}

.thank-you p {
    font-size: 18px;
    padding: 10px;
}

/* directory.html */

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 10px;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    border: 1px black;
}

.grid section {
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 100%;
    word-wrap: break-word;
}

.grid img {
    width: 150px;
    height: auto;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid section>* {
    margin: 0.1rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
    min-height: 50px;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: #a7d5f4;
}