@media(min-width: 800px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: auto;
    }

    .hamburger {
        display: none;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 28rem;
        column-gap: 5px;
    }

    .cards section {
        box-shadow: 3px 3px 3px 3px;
    }

    .company-card {
        grid-column: span 3;
    }

    .hamburger {
        display: none;
    }

    .hero .large {
        display: none;
    }

    .hero .medium {
        display: block;
    }

    .hero .small {
        display: none;
    }

    footer .content-footer p {
        border-right-style: solid;
    }

    footer .content-footer p:last-child {
        border-right: none;
    }

    footer .content-footer {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .content-footer {
        text-align: center;
    }

    .info-footer {
        display: flex;
        justify-content: space-between;
    }

    .main-info {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5px;
    }   

    .sub-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /* discover.html */

    .main-discovery {
        grid-template-columns: 1fr 3fr;
    }

    .sidebar-welcome, .sidebar-intro, .sidebar-population, .sidebar-events, .sidebar-demo {
        background-color: #f4f4f4;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .gallery {
        padding: 30px;
    }

    .gallery-images {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 10px;
    }

    /* join.html & thankyou.html */

    form {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1200px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    form input, form select, form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #333;
    }

    .membership-benefits {
        text-align: center;
        list-style: none;
        padding: 20px;
    }
}

@media(min-width: 1200px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: auto;
    }

    .hamburger {
        display: none;
    }

    .hero .large {
        display: block;
    }

    .hero .medium {
        display: none;
    }

    .hero .small {
        display: none;
    }

    footer .content-footer p {
        border-right-style: solid;
        margin: 0;
        padding: 5px 15px;
    }

    footer .content-footer p:last-child {
        border-right: none;
    }

    footer .content-footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
    }

    .content-footer {
    text-align: center;
    }

    .info-footer {
        display: flex;
        justify-content: space-between;
    }

    .main-info {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5px;
    }

    .sub-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /* discover.html */

    .main-discovery {
        grid-template-columns: 1fr 3fr;
    }

    .sidebar-welcome, .sidebar-intro, .sidebar-population, .sidebar-events, .sidebar-demo {
        background-color: #f4f4f4;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .gallery {
        padding: 30px;
    }

    .gallery-images {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 10px;
    }

    /* join.html & thankyou.html */

    form {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1800px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    form input, form select, form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #333;
    }

    .membership-benefits {
        text-align: center;
        list-style: none;
        padding: 20px;
    }
}