* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    align-items: center;
    text-align: center;
    background-color: #2fadd6;
}

header img {
    width: 150px;
    height: auto;
    padding: 10px;
}

header span {
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
}

header img, header span {
    display: inline-block;
    vertical-align: middle;
}

nav {
    display: flex;
    background-color: #59D4FC;
    padding: 5px;
}

nav a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
}

nav ul {
    list-style: none;
}

main h1 {
    margin: 10px;
    border-bottom: 1px solid #151e3d;
}

#mode {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

.burger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.burger a {
    color: #333;
    padding: 8px;
}

.burger a:hover {
    background-color: #00BBE0;
    color: black;
}

@media (max-width: 840px) {
    .burger {
        display: none;
        width: 100%;
    }

    .burger.open {
        display: block;
    }

    .hamburger::before {
        content: "☰";
    }

    .hamburger.open::before {
        content: "✖";
    }

    .hamburger {
        display: block;
        background: none;
        color: white;
        cursor: pointer;
    }

    .hamburger.open {
        display: block;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.hero img {
    max-width: 100%;
    height: auto;
    padding: 20px;
}

.herolabel {
    position: absolute;
    top: 50%;
    left: 7%;
    background: radial-gradient(#63c5da, skyblue);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
}

.card {
    margin: 1rem;
}

.card section h2 {
    background-color: #63c5da;
    text-align: center;
    padding: .5rem;
}

.card section p {
    padding: 5px;
}

.card1, .card2 {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card1 section {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.card2 p, .card2 figure {
    text-align: center;
}

.map {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    margin: auto;
    left: 0;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    background-color: #151e3d;
    color: white;
    text-align: center;
    padding: 1em;
}